body{
  direction: rtl;
}

.grid-background {
  background-image:
    linear-gradient(
      rgba(246, 166, 92, 0.08) 1px,
      transparent 1px
    ),
    linear-gradient(
      90deg,
      rgba(244, 246, 92, 0.08) 1px,
      transparent 1px
    );

  background-size: 50px 50px;
}
.hero{
  background-color: rgba(0, 0, 0, 0.918);
}
.highlight {
  color: #fa672c;
}

